<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
      <div>
        <li><a href="{% url 'inscription' %}">Inscription</a></li>
        <li><a href="{% url 'connexion' %}">Connexion</a></li>
      </div>     
        </ul>
    </nav>

   

    <div class="content">
        <h1>Bienvenue sur notre application</h1>
        <p>Explorez les fonctionnalités et profitez de nos services.</p>

        <section class="features">
            <h2>Fonctionnalités principales</h2>
            <ul>
                <li><strong>Prise de rendez-vous :</strong> Planifiez facilement des rendez-vous médicaux.</li>
                <li><strong>Suivi médical :</strong> Accédez à vos dossiers médicaux en ligne.</li>
                <li><strong>Communication facilitée :</strong> Échangez avec votre médecin en ligne.</li>
            </ul>
        </section>

        <p>Rejoignez-nous dès aujourd'hui et profitez d'une expérience de soins de santé simplifiée.</p>
    </div>

    <section class="contact-section">
        <h2>Contactez-nous</h2>
        <p>Vous pouvez nous contacter via l'adresse e-mail suivante :</p>
        <p>Email : contactclinique@gmail.com</p>
    </section>
    
    
    <footer>
        <p>&copy; 2024 Clinique. Tous droits réservés.</p>
    </footer>
</body>
</html>
