
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css'%}">


</head>
<body>
    <nav>
        <ul class="menu">
          <li><a href="{% url 'home' %}">Home</a></li>
  
          <li><a href="{% url 'inscription' %}">Inscription</a></li>
          <li><a href="{% url 'connexion' %}">Connexion</a></li>
          
         
        </ul>
        </nav>
    <section id="presentation">
        <h1>Bienvenue sur notre site</h1>
        <p>Nous sommes ravis de vous accueillir sur notre site. Découvrez ce que nous avons à vous offrir.</p>
    </section>

    <!-- Section de contenu -->
    <section id="contenu">
        <h2>Notre Histoire</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac quam nec lacus dapibus accumsan.</p>
        <p>Nullam in lectus nec urna gravida malesuada. Suspendisse consectetur dui nec suscipit congue.</p>

        <h2>Nos Services</h2>
        <p>Integer ullamcorper, turpis vel cursus tristique, leo nisi convallis quam, eget interdum urna elit id justo.</p>
        <p>Quisque convallis vulputate ipsum, nec condimentum urna hendrerit a. Duis vel risus et sapien cursus tincidunt.</p>

        <h2>Notre Équipe</h2>
        <p>Curabitur vestibulum quam ac libero suscipit, eu cursus nisi cursus. Maecenas vel sapien et lacus gravida tempus.</p>
        <p>Phasellus nec odio et ligula finibus ullamcorper non vel nisi. Proin at nunc nec eros gravida pellentesque.</p>
    </section>

 

    <!-- Section de contact -->
    <section id="contact">
        <h2>Contactez-nous</h2>
        <p>Pour toute question ou demande d'information, n'hésitez pas à nous contacter :</p>
        <p>Email : contact@votresite.com</p>
        <p>Téléphone : +33 123 456 789</p>
    </section>

    
</body>
</html>