
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'inscription.css'%}">


</head>
<body>
   
    <nav>
        <ul class="menu">
          <li><a href="">Home</a></li>

          <li><a href="{% url 'inscription' %}">Inscription</a></li>
          <li><a href="{% url 'connexion' %}">Connexion</a></li>
          <li><a href="">Prendre Rdv</a></li>
          <li><a href="">Profil</a></li>
        </ul>
      </nav>
   
    <h2>Inscrivez vous !</h2>
    {{ message }}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Inscription</button>
    </form>
</body>
</html>