<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'pagesuccess.css'%}">
</head>
<body>

    <div id="container">
        <div id="success-box">
          <div class="dot"></div>
          <div class="dot two"></div>
          <div class="face">
            <div class="eye"></div>
            <div class="eye right"></div>
            <div class="mouth happy"></div>
          </div>
          <div class="shadow scale"></div>
          <div class="message"><h1 class="alert">Success!</h1><p>yay, everything is working.</p></div>
          <button class="button-box"><h1 class="green">continue</h1></button>
        </div>
    
</body>
</html>