
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'profil.css'%}">


</head>
<style>


</style>
<body>
   
    <nav>
      <ul class="menu">
        


        <li><a href="{% url 'rdv' %}">Prendre Rdv</a></li>
        <li><a href="{% url 'profil' %}">Profil</a></li>
        <li><a href="{% url 'connexion' %}">Deconnexion</a></li>
      </ul>
      </nav>

      <div class="profil-container">
      <h1>Profil du Patient</h1>
      <br>
      <p>Nom: {{ patient.nom }}</p>
      <p>Prénom: {{ patient.prenom }}</p>
      <p>Date de Naissance: {{ patient.dn }}</p>
      <p>Sexe: {{ patient.sexe }}</p>
      <p>Adresse: {{ patient.adresse }}</p>
      <p>Email: {{ patient.email }}</p>
      <p>Numéro de Sécurité Sociale: {{ patient.nss }}</p>
      <hr>


      <h1>Prescriptions médicales du Patient</h1>
<ul>
    {% for prescription in prescriptions %}
        <li>
            Rendez-vous du {{ prescription.rendezvous.date }} à {{ prescription.rendezvous.heure }} :
            {% for acte in prescription.acte_medical.all %}
               <br> {{ acte.nom }},
            {% endfor %}
            {% for chirurgie in prescription.chirurgie.all %}
                <br>{{ chirurgie.nom }},
            {% endfor %}
            {% for medicament in prescription.medicaments.all %}
            <br>{{ medicament.nom }} (Posologie: {{ medicament.posologie }}),
                
            {% endfor %}
        </li>
    {% endfor %}
</ul>

    </div>
</body>
</html>